@model IEnumerable<WebApplicationPrototype.Models.Addresses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleAddressText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate_UTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateContactTVItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressTVItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryTVItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MunicipalityTVItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceTVItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleAddressText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateDate_UTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateContactTVItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressTVItem.TVPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTVItem.TVPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalityTVItem.TVPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceTVItem.TVPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddressID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AddressID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AddressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
